/*  responsive style for different devices  */

/* Small devices (mobiles, up to 767px) */
@media only screen and (max-width: 767px) {
    .h1 {
        padding-bottom: 20px;
        color: var(--orange);
        border-bottom: 1px solid var(--orange);
        display: inline-block;
        font-size: 46px;
    }
    .h2 {
        font-size: 54px;
        text-align: center;
    }
    .h3 {
        font-size: 26px;
        font-weight: 300;
        text-align: left;
    }
    .container {
        padding: 20px;
        min-width: 280px;
    }
    .lead {
        display: none;
    }
    header .scroll-down {
        width: 100%;
        right: 0px;
    }
    .navbar {
        width: 100%;
        left: 0;
    }
    .nav {
        display: flex;
    }
    .navbar .nav li {
    width: calc(100% / 4);
    }
    /* toggle between sticky and navbar2 with js */
    .navbar2 {
        position: absolute;
        right: 5%;
        bottom: -80px;
    }
    .sticky {
        position: fixed;
        top: 0px;
    }
    .section-1 > div {
        margin-top: 60px;
    }
    #profile-content>div>h3  {
        text-align: center;
    }
    .fa {
        font-size: 50px;
        padding: 0;
        border: none;
        transition: color 0.3s;
    }
    .fa:hover {
        color: var(--blue-light);
    }
    .tab-content {
        margin-left: 10px;
        text-decoration: none;
    }
    .experienceTabs {
        height: 600px;
    }
    .wrapper {
        height: 300px;
    }
}


/* Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .h1 {
        padding-bottom: 20px;
        margin-bottom: 10px;
        font-size: 63px;
        line-height: 1.1;
    }
    .h2 {
        font-size: 54px;
        text-align: center;
        margin-top: 0;
    }
    .h3 {
        font-size: 28px;
        text-align: left;
    }
    .container {
        padding: 40px 180px;
        max-width: 1280px;
    }
    .lead {
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 20px;
    }  
    header .container p {
        font-size: 28px;
        margin-top: 30px;
        padding-top: 10px;
        border-top: 1px solid var(--orange);
    }
    .text-container {
        margin-top: 5%;
    }


} 
/* Large devices (laptops/desktops, 1100px and up) */

/* X-Large devices (X-laptops/desktops, 1281px and up) */

