/*  responsive style for different devices  */
@media only screen and (max-width: 767px) {
    .h1 {
        padding-bottom: 20px;
        color: var(--orange);
        border-bottom: 1px solid var(--orange);
        display: inline-block;
        font-size: 46px;
    }
    .h2 {
        font-size: 54px;
        text-align: center;
    }
    .container {
        padding: 20px;
        min-width: 280px;
    }
    .lead {
        display: none;
    }
    header .scroll-down {
        width: 100%;
        right: 0px;
    }
    .navbar {
        width: 100%;
        left: 0;
    }
    .nav {
        display: flex;
    }
    .navbar .nav li {
    width: calc(100% / 4);
    }
    /* toggle between sticky and navbar2 with js */
    .navbar2 {
        position: absolute;
        right: 5%;
        bottom: -80px;
    }
    .sticky {
        position: fixed;
        top: 0px;
    }
    .section-1 > div {
        margin-top: 60px;
    }
    #profile-content>div>h3  {
        text-align: center;
    }
    .fa {
        font-size: 50px;
        padding: 0;
        border: none;
        transition: color 0.3s;
    }
    .fa:hover {
        color: var(--blue-light);
    }
    .tab-content {
        margin-left: 10px;
        text-decoration: none;
    }
    .experienceTabs {
        height: 600px;
    }
}



/* Small devices (mobiles, up to 767px) */

/* Large devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 1100px and up) */

/* X-Large devices (X-laptops/desktops, 1281px and up) */

