@import url('./media.css');
@import url('./tabs.css');

/* 
-- variables
-- general elements
-- general classes and ids
-- header
-- Navbar
-- sections
-- profile image
*/

:root {
  --blue-light: #23b6b1;
  --blue-dark: #22a39f;
  --pink-light: hsl(348deg 100% 76%);
  --pink-dark: hsl(343deg 100% 66%);
  --bkg-beige: #fdfbf3;
  --white: #ffffff;
  --gray-light: #727878;
  --coal: #434242;
  --black: #222222;
  --gray-lead: #888d8d;
  --font: 'Open Sans', sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-dark);
  border-radius: 3px;
}
::-moz-selection {
  color: var(--white);
  background: var(--blue-dark);
}
::selection {
  color: var(--white);
  background: var(--blue-dark);
}

/*  -- general elements --  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.1em;
  line-height: 1.8;
  background: var(--bkg-beige);
}
body,
header {
  color: var(--coal);
  font-family: var(--font);
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
/* html,
body,
header {
  max-width: 100%;
  overflow-x: hidden;
} */
a {
  color: var(--pink-dark);
  text-decoration: none;
}
h2,
h3 {
  font-weight: 300;
  margin: 0.2em;
  color: var(--blue-dark);
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
section {
  position: relative;
  padding: 1.2em 0.5em;
}
hr {
  border: 0;
  height: 1px;
  width: auto;
  background-image: -o-linear-gradient(left, #f0f0f0, #d1d1d1, #f0f0f0);
}
small {
  color: var(--pink-light);
}

/* -- general classes and ids */
/* .container {
  position: relative;
  top: 10%;
  z-index: 4;
  text-align: center;
  max-width: 100%;
} */
.bkg-dark {
  color: var(--gray-light);
}
.bkg-dark > h2 {
  color: var(--white);
}
.bkg-dark > div > ul > li > a {
  color: var(--white);
}
.bkg-dark > hr {
  margin: 2em;
  opacity: 0.2;
  border: 0;
  height: 1px;
  width: auto;
  background-image: -o-linear-gradient(left, #e7d599, #ffffff, #e7d599);
}
.lead {
  font-size: 1.1em;
}
p.lead {
  text-align: center;
  color: var(--gray-lead);
}

/* -- header */
header {
  background: url(../images/background-M.jpg) no-repeat scroll;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-down {
  background-color: var(--black);
  height: 80px;
  width: 120px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 3%;
  text-align: center;
}
.scroll-down .glyphicon {
  color: #ffffff;
  padding-right: 2px;
  padding-top: 20px;
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
@-webkit-keyframes wiggle {
  0% {
    padding-top: 20px;
  }
  50% {
    padding-top: 28px;
  }
  100% {
    padding-top: 20px;
  }
}
@keyframes wiggle {
  0% {
    padding-top: 20px;
  }
  50% {
    padding-top: 28px;
  }
  100% {
    padding-top: 20px;
  }
}
.glyphicon {
  display: inline-block;
  line-height: 1;
}

/* -- Navbar */
.navbar {
  background-color: var(--black);
  z-index: 999;
}
.navbar li a {
  display: block;
  height: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 20px;
  font-weight: 600;
  color: var(--bkg-beige);
}
.navbar .active a {
  background: var(--blue-dark);
}

/*  --section-1--  */
.section-1 {
  text-align: center;
  background: var(--white);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: -ms-min-content;
  height: min-content;
}
.section-1 .fa {
  margin: 20px 0px 0 0;
  display: inline-block;
  color: var(--gray-lead);
  font-size: 2.3em;
  padding: 0px 10px 0 0;
  transition: color 0.2s;
}
.section-1 .fa:hover {
  color: var(--pink-dark);
}
#my-cv,
.section-1 .my-cv {
  color: var(--pink-dark);
}
.section-1 span {
  color: var(--gray-lead);
  padding-left: 10px;
  font-size: 0.6em;
}
/* -- profile image -- */
.section-1 img {
  box-shadow: -8px 8px 18px -4px var(--gray-lead);
  width: 100%;
  height: auto;
  transition: transform 0.6s;
  border-width: 0.5px;
  border-color: var(--coal);
  border-style: solid;
  border-radius: 50%;
}
.section-1 img:hover {
  -webkit-filter: sepia(0%);
  filter: sepia(0%);
  border-color: var(--bkg-beige);
  transform: scale(1.1);
}
.section-1 h2 {
  padding-top: 1em;
}

.sublink {
  text-align: center;
  font-size: 1rem;
}
/* -- section-3 -- */
.section-3 > div > p {
  color: var(--coal);
  text-align: left;
}
.section-3 span {
  color: var(--pink-dark);
}
.current-experience {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.experience p {
  color: var(--gray-light);
  text-align: left;
}

.current-experience-img {
  height: 4rem;
}

/* -- section-2,-4 -- */
.section-2,
.section-4 {
  background: var(--coal);
}

.section-4 {
  padding: 0 0.5em;
}
.media {
  display: flex;
  justify-content: center;
}

/*  End  */
